.footer-social-wrapper {
  background-color: #43444d !important;
}

.footer-copyright,
.footer-social {
  color: white !important;
}

.footer-social a {
  color: white;
  text-decoration: none;
}

.container-nb {
  padding: 1rem 2rem;
  background-color: #2f303a;
}

.text-white {
  color: white !important;
}
