html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1 !important;
}

p {
  font-family: $font2 !important;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

//quote footer cross
blockquote footer::before {
  content: "\2014 \00A0";
}

dd::before {
  content: "\2014 \00A0";
}

// bootstrap overide
.bg-dark {
  background-color: #2f303a !important;
}

.js-scroll-trigger {
  &:hover {
    color: white;
  }
}
//normal overide such as wrappers

.row .img-full {
  width: 100%;
}

.img-wrap {
  float: right;
}

.scource-youtube iframe {
  width: 100% !important;
}

.source-you-img {
  border-radius: 50%;
}
