@import "_variables.scss";
@import "_standard.scss";
@import "_header.scss";
@import "_footer.scss";

.navbar {
  transition: all 0.3s ease-in;
}

.nav-link {
  transition: all 0.2s ease-in;
}

.scroll {
  background-color: transparent !important;
  padding: 2rem;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 991px) {
  .scroll {
    background-color: #2f303a !important;
  }
}
